﻿@model WebApplication4.Models.Product

@{
    ViewBag.Title = "DemoExpression";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<table>
    <thead>
        <tr><th>Property</th><th>Value</th></tr>
        </thead>
        <tbody>
        <tr><td>Name</td><td>@Model.Name</td></tr>
        <tr><td>Price</td><td>@Model.Price</td></tr>
        <tr><td>Stock Level</td>
            <td>
                <!-- place an "AT" in front of the conditional statement, end with curly brace
                    cast the value of ViewBag to a defined type to evaluate the conditional -->
            @switch ((int)ViewBag.ProductCount)
            {
                case 0:
                    <!-- insert literal text with AT system as follows: -->
                    @: Out of Stock
                    break;
                case 1: 
                    <b>Low Stock (@ViewBag.ProductCount)</b>
                    break;
                default:
                    @ViewBag.ProductCount
                    break;

            }
                </td>
            1111</tr>
        </tbody>
</table>

<div data-discount="@ViewBag.ApplyDiscount" data-express="@ViewBag.ExpressShip"
     data-supplier="@ViewBag.Supplier">
    The containing element has data attributes
</div>

<!-- data attributes are an informal way to create custom attributes -->
Discount:<input type="checkbox" checked="@ViewBag.ApplyDiscount"/>
Express:<input type="checkbox" checked="@ViewBag.ExpressShip"/>
Supplier:<input type="checkbox" checked="@ViewBag.Supplier"/>

