﻿<!-- declaring the type of model object -->
@model WebApplication4.Models.Product

<!-- Razor code block (include C# statements in a view file)
Setting layout to null tells MVC that the view is self-contained, renders all content required for the client
Omitting layout property assumes you want a layout and it is in ViewStart
-->
@{
    ViewBag.Title = "Product Name"; 
}

Product Name: @Model.Name

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        </div>
    </body>
    </html>
