﻿<!DOCTYPE html>

@{ 
    Layout = "~/Views/_BasicLayout.cshtml";
}

<!--
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
    </div>
</body>
</html>

    -->
